.venv
# Ignore the virtual environment directory

# Ignore other common files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.swn
*.bak
*.tmp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
.DS_Store
.env